@charset "utf-8";


body{
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: aqua;
    background-color: rgb(206, 209, 170);
}

h2 {
    color: coral;
}

p {
    text-align: justify;
}